<div class="col s12 cat-div">
  <div class="cat-index">
    <hr>
      <ul>
        {% for post in site.posts %}
          {% unless post.next %}
            <h4 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }} </h4>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            
            {% if year != nyear %}
              <h4 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h4>
            {% endif %}
          {% endunless %}

          <ul class="cat-post">
            <a class="post-title" href="{{site.baseurl}}{{post.url}}" target="_blank">
              <li>
                  <i class="tiny material-icons  tooltipped">date_range</i>
                  <large class="post-date">{{post.date | date_to_string}}</large>
                  <i class="tiny material-icons  tooltipped">chevron_right</i>
                  {{post.title}} &#160; &#160; &#160;
                  <i class="tiny material-icons  tooltipped">sort</i> &#160;
                  <a href="{{site.baseurl}}/categories#{{{post.categories}}">{{post.categories}}</a>
              </li>
            </a>
          </ul>

        {% endfor %}
      </ul>
  </div>
</div>
