<div class="contact_content" id="contact-content">
    <div class="email" id="email" style="margin-top: 30px;">
        <h3 class="email-header center" id="email-header" style="font-size:28px; font-family: monospace;" title="E-Mail"> 
            <i class="material-icons email-icon" id="email-icon" style="margin-bottom: 0%; font-size:24px">email</i>
            <b style="margin-left: 5px; ">Email</b>
        </h3>
        <div class="email-addr center" style="font-size: 18px; color: black; font-family:monospace;">
            <a href="mailto:sunicyosen[A.T]outlook.com">sunicyosen[A.T]outlook.com</a>
        </div>
    </div>

    <b><hr /></b>

    <div class="mailing-address" id="mailing-address" style="margin-top: 30px;">
        <h3 class="mailing-address center" id="mailing-address" style="font-size:28px; font-family: monospace;" title="Mailing Address"> 
            <i class="material-icons mailing-address-icon" id="mailing-address-icon" style="margin-bottom: 0%; font-size:28px">edit_location</i>
            <b style="margin-left: 5px; ">Mailing Address</b>
        </h3>

        <div class="address" style="font-family:monospace; font-size:18px;">
            <blockquote>
            </blockquote>
        </div>
    </div>

    <hr />

    <div class="other-web center" id="other-web" style="margin-top: 30px;">
        <h3 class="other-web-header center" id="other-web-header" style="font-size:28px; font-family: monospace;" title="Other Webs"> 
            <i class="material-icons mailing-address-icon" id="mailing-address-icon" style="margin-bottom: 0%; font-size:28px">camera</i>
            <b style="margin-left: 5px; ">Others</b>
        </h3>

        <div class="social center-align">
            {% include social.html %}
        </div>
    </div>
    
    <hr />

    <div class="welcome-contact" id="welcome-contact" style="margin-top: 60px; margin-bottom: 0px; font-family: monospace; font-size: 18px;">
        <div class="center">
        </div>
        <div class="best-wishes" style="text-align: right">
            <p>
                Best Wishes!
            </p>
            <p>
                Sunic
            </p>
        </div>

    </div>
</div>
