---
layout: default
css: ["post.css"]
js: ["post.js"]
---
<div class="post-all" id="post-all">
<div id="post-info">
  <h3>{{page.title}}</h3>
  <ul class="collapsible hoverable" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date">date_range</i>
          {{page.date | date: "%d/%m/%Y %H:%M"}}
          <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Show extra info">info</i>
        </span>
      </div>
      <div class="collapsible-body">
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Categories">sort</i>
          {% for cat in page.categories %}
          {% capture test %}{{cat | slice: 0}}{% endcapture %}
          {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{cat}}</div></a>
          {% endfor %}
        </span>
        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Tags">label</i>
          {% for tag in page.tags %}
          {% capture test %}{{tag | slice: 0}}{% endcapture %}
          {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
          <a href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}" target="_blank"><div class="chip">{{tag}}</div></a>
          {% endfor %}
        </span>

        <span>
          <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Words">text_fields</i>
          <div class="words-num" id="words-num" style="display: inline;" >
            <div class="chip">
              EN: {{ page.content | number_of_words }}
            </div>
            <div class="chip">
              CN: {{ page.content | strip_html | strip_newlines | split: " " | size }}
            </div>
            <div class="chip">
              <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Time For Reading">timer</i>
              ~ {{ page.content | strip_html | strip_newlines | split: " " | size | divided_by: 250 | plus: 1}} min
            </div>
          </div>
        </span>
      </div>
    </li>
  </ul>
</div>

<p> </p>

<div class="divider post-all" id="post-all"></div>
  <div class="row">
    <div class="col s12">
      <div class="post-content" id="post-content">
        {{content}}
      </div>
    </div>
  </div>
</div>

<div class="divider post-all" id="post-all"></div>
  <div class="row">
    <div class="col s12">
        {% include readmore.html %}
    </div>
  </div>
</div>

<div class="bottom_flag" id="bottom-flag"></div>

<div class="back-to-top fixed wave-affect" id="back-to-top">
  <a href="#top">
    <span>
      <i class="material-icons" id="back-to-top-btn"  title="TOP -- Double Click T">vertical_align_top</i>
    </span>
  </a>
</div>

<div class="to-bottom fixed wave-affect" id="to-bottom">
  <a href="#bottom-flag">
    <span>
      <i class="material-icons" id="to-bottom-btn"  title="BOTTOM -- Double Click B">vertical_align_bottom</i>
    </span>
  </a>
</div>

<div class="toc-tool fixed">
  <div class="toc-contents" id="toc-contents">
    <h2 class="center" style="color: white; font-size: 24px; margin-top:10%;"> CONTENT </h2>
    {% include toc.html html=content %}
  </div>

  <div class="close-toc fixed wave-affect">
    <a><i class="material-icons" id="toc-close-btn">close</i></a>
  </div>
</div>

<div class="toc-icon fixed wave-affect">
  <a><i class="material-icons" id="toc-btn"  title="Content -- Double Click C">menu</i></a>
</div>

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/toc.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/back-to-top.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/to-bottom.css">

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
-->

<script src="{{site.baseurl}}/assets/js/toc.js"></script>
<script src="{{site.baseurl}}/assets/js/back-to-top.js"></script>
<script src="{{site.baseurl}}/assets/js/to-bottom.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap3-typeahead.min.js"></script>
